@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?qnwa6a");
  src: url("fonts/icomoon.eot?qnwa6a#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?qnwa6a") format("truetype"),
    url("fonts/icomoon.woff?qnwa6a") format("woff"),
    url("fonts/icomoon.svg?qnwa6a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-card1:before {
  content: "\e901";
}
.icon-card2:before {
  content: "\e902";
}
.icon-card3:before {
  content: "\e903";
}
.icon-card4:before {
  content: "\e904";
}
.icon-card5:before {
  content: "\e905";
}
.icon-card6:before {
  content: "\e906";
}
.icon-card7:before {
  content: "\e907";
}
.icon-cart:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-hamburger:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
